extends AllProducts 

block content
    form(action='/product/addproduct', method='post' id="form")
        label Name: 
        input.form-control(type='text', value=name placeholder='At least 5 characters', name="name" aria-label='Name', aria-describedby='addon-wrapping')
        label Price: 
        input.form-control(type='text', placeholder='e.g(500)', name="price" aria-label='Price', aria-describedby='addon-wrapping')
        label Description: 
        input.form-control(type='text', placeholder='About product', name="description" aria-label='Description', aria-describedby='addon-wrapping')
        label image: 
        input.form-control(type='text', placeholder='eg(34)', name="image" aria-label='image', aria-describedby='addon-wrapping')
        button.btn(type="submit", form="form", value="Submit") Add Product