extends AllProducts 

block content 
    form(action='/user/login', method='post' id="form")
        label Email: 
        input.form-control(type='email', value="alihasnain.031350.pk@gmail.com", placeholder='Email', name="email" aria-label='Email', aria-describedby='addon-wrapping')
        label Password: 
        input.form-control(type='password', placeholder='password', value="Hasnainali477#" name="password" aria-label='Password', aria-describedby='addon-wrapping')
        button.btn(type="submit", form="form", value="Submit") Submit 